*{
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(/bw_finalproject/img/hall.png);
    background-size: 500pt;
}

.first {
    background-image: url(/bw_finalproject/img/fire-burn.gif);
    height: 50px;
}

.last {
    text-align: center;
    color: yellow;
}


aside {
    background-image: url(/bw_finalproject/img/gif.gif);
}

h1 {
    text-align: center;
    font-style: italic; color: yellow;
}

li {
    display: inline-block;
}

li a {
    border-color: white;
    display: block;
    text-decoration: none;
    margin-left: 30px;
    list-style: none;
    text-shadow: 2px 4px yellow;


}


   /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link*/
  a:hover {
    color: whitesmoke;
  }
  
  /* selected link */
  a:active {
    color: grey;

}

.container {
    border: 5px solid yellow;
    padding: 10px;
    box-shadow: 5px 10px darkred;
    font-style: italic; 
    color: yellow;
    float: left;
    width: 75%;
}

.article {
    border: 5px double yellow;
    padding: 5px;
    box-shadow: 5px 10px darkred;
    font-style: italic;
    color: yellow;
    background-image: url(/bw_finalproject/img/live.gif);
}

aside {
    border: 5px  double yellow;
    padding: 5px;
    box-shadow: 5px 10px darkred;
    font-style: italic; size: 100px;
    float: right;
    color: yellow;
    width: 25%;
}

nav {
    position: sticky;
}

.form {
    background-color: red;
}

#name, #email, #fill {
    background-color: black;
    color: yellow;
    padding: 15px;
    margin-top: 20px;
}

.about {
    color: yellow;
}