/* General Styling Starts */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/hall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* General Styling Ends */
  
  
  /* Header Starts */
  .center-1 {
    text-align: center;
    margin: 15px;
  }
  
  .center {
    display: block;
    width: 200px;
    margin: 35px auto;
    border: 1px solid yellow;
  }
  
  
  audio::-webkit-media-controls-panel {
    background-color: yellow;
  }
  
  
  .first {
    background-image: url(../img/fire-burn.gif);
    height: 100px;
  }
  
  h1,
  h2 {
    text-align: center;
    font-style: italic;
    color: yellow;
  }
  /* Header Ends */
  
  /* Navigation Stuff Starts */
  nav {
    position: sticky;
    background-color: transparent;
  }
  
  .image {
    height: 65px;
    vertical-align: middle;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    text-decoration: none;
    margin-left: 30px;
    list-style-type: none;
    font-size: 1.5rem;
  }
  
  /* unvisited link */
  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link*/
  a:hover {
    color: whitesmoke;
    text-shadow: 2px 4px rgba(255, 255, 0, .6);
  
  }
  
  /* selected link */
  a:active {
    color: grey;
  }
  /* Navigation Stuff Ends */
  
  
  /* main body section starts */
  .container {
    float: left;
    min-height: 600px;
    width: 75%;
    padding: 10px;
    border: 5px solid yellow;
    box-shadow: 5px 10px darkred;
    font-style: italic;
    color: yellow;
  }
  
  article {
    background-image: url(../img/live.gif);
    border: 5px double yellow;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 5px 10px darkred;
    font-style: italic;
    color: yellow;
  }
  
  aside {
    width: 25%;
    height: 600px;
    float: right;
    padding: 5px;
    border: 5px double yellow;
    box-shadow: 5px 10px darkred;
    font-style: italic;
    color: yellow;
    background-image: url(../img/gif.gif);
  }
  
  .clearfix {
    clear: both;
  }
  
  /* contact form*/
  .form {
    background-image: url(../img/live.gif);
    color: yellow;
  }
  
  #name,
  #email,
  #fill {
    background-color: black;
    color: yellow;
    padding: 15px;
    margin-top: 20px;
  }
  /* main body section Ends */
  
  
  /* Footer Starts */
  footer {
    text-align: center;
    color: yellow;
    padding: 35px 0;
  }
  
  /* social media links*/
  
  .fa-solid,
  .fa-brands {
    color: yellow;
    font-size: 48px;
    margin: 15px;
  }
  
  
  .fa:hover {
    color: darkred;
    transition: .4s ease;
  }